@import url(https://fonts.googleapis.com/css?family=Fredericka+the+Great);



.navbar-inverse a.navbar-brand {
  color: #89ABE3;
  font-family: "Fredericka the Great";
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 32px;
  
  
}

.navbar {
  border-radius:0;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  box-shadow: 1px 2px 4px #E3C189;
  background:url('escheresque_ste.png');
}
